uvicorn==0.23.2
fastapi==0.100.1
SQLAlchemy==2.0.19
itsdangerous==2.1.2
google-auth==2.22.0   
google-auth-oauthlib==1.0.0
mysqlclient==2.2.0
python-dotenv==1.0.0
httpx==0.24.1
beautifulsoup4==4.12.2
selenium==4.11.2
webdriver-manager==4.0.0
spotipy==2.23.0